<div class="banner">
	<!-- imagenes para el slider -->
	<div class="banner__img">
		<img src="../../../assets/img/banner1.jpg" alt="Builder Now">
	</div>
	<!-- contenido de información del banner -->
	<div class="banner__content">
		<h1 class="f-title-primary">virtually <span>build your </span>house</h1>
		<a href="#" class="btn btn-primary">Build Now</a>			
	</div>
	<!-- controles para el slider -->
	<!-- <div class="banner__slider f-parrafo d-none d-md-flex">
		<a href="">Slider 01</a>
		<a href="">Slider 02</a>
		<a href="">Slider 03</a>
		<a href="" class="active">Slider 04</a>
		<a href="">Slider 05</a>
	</div> -->
</div>