<nav class="menu container">
   <div class="row align-items-center align-items-md-end justify-content-between">		
      
      <!-- logo del sitio web -->
      <div class="menu__logo col-auto ">
         <a href="index.html">
            <img src="../../../assets/img/logo1.png" alt="Construtioner">
         </a>
      </div>

      <!-- boton para activar el menu responsivo para dispositivos moviles (visible hasta tamaño s) -->
      <div class="menu__button col-auto d-md-none" (click)="showMenu()">
         <!-- si el valor de la variable mostrar es verdadero se muestra el boton abrir -->
         <button class="menu__button--open" type="button" *ngIf="show ; else showIcon">
            <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
         </button>

         <!-- caso contrario se muestra el boton cerrar -->
         <ng-template #showIcon>
            <button class="menu__button--close" type="button">
               <fa-icon [icon]="['fas', 'times']" size="lg"></fa-icon>
            </button>
         </ng-template>      
      </div>
      
      <!-- barra de navegacion del sitio web -->
      <div class="menu__links menu__links--nav col-auto" [ngClass]="{ 'show': show === false }">
         <!-- navegación  -->
            <ul class="f-menu d-md-flex">
               <li (click)="getNameLink('start-home')"><a id="menuHome" href=""  onclick = "event.preventDefault();">Home</a></li>
               <li (click)="getNameLink('start-about')"><a id="menuAbout"  href=""  onclick ="event.preventDefault();">About</a></li>
               <li (click)="getNameLink('start-services')"><a id="menuServices" href="" onclick ="event.preventDefault();">Services</a></li>
               <li (click)="getNameLink('start-build')"><a id="menuBuild" href="" onclick ="event.preventDefault();">Build it yourself</a></li>
               <li (click)="getNameLink('start-portfolio')"><a id="menuPortfolio" href="" onclick ="event.preventDefault();">Portfolio</a></li>
               <li (click)="getNameLink('start-blog')"><a id="menuBlog" href="" onclick ="event.preventDefault();">Blog</a></li>
               <li (click)="getNameLink('start-contact')"><a id="menuContact" href="" onclick ="event.preventDefault();">Contact</a></li>
               <div class="menu-animation" [ngClass]="menuAnimationLink"></div>
            </ul>
      </div>

      <!-- enlaces de acceso de usuarios -->
      <div class="menu__links menu__links--access col-auto" [ngClass]="{ 'show': show === false }">
         <!-- acceso  -->
         <div class="f-menu-access">
               <a href="" class="btn-menu btn-primary">Login</a>
               <span></span>
               <a href="" class="btn-menu btn-light">Register</a>
         </div> 
      </div>
   </div>
</nav>